name: Update gist with daily trivia
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 1 * * *" # Run at 1:00 AM every day
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
          cache: 'pip'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Update gist
        run: python main.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 'ef9d16e87e0458fff84bf42c4e05894b'
